
body {
   background:#313131;
}

.centerPerso{
   text-align: center;
}

/* VARIABLES */
:root {
   /* dimension de notre jauge */
   --size:600px;
   /* nombre pi */
   --pi:3.14159265358979;
   /* rayon du cercle dans le svg */
   --circle-r:20%;

   /* calcul de la longueur max de la jauge */
   --dasharray-max:calc(2 * var(--pi) * var(--circle-r));
   /* calcul du remplissage de la jauge */
   --dasharray-size:calc(var(--dasharray-max) * var(--nb-percent) / 100);
}

.pie {
   border-radius:20%;
   /*box-shadow:0 0 0px rgba(255, 255, 255, .5);*/
   display:block;
   height:var(--size);
   margin:0 auto;
   position:relative;
   text-align:center;
   width:var(--size);
}

.pie:after {
   border:10px solid rgba(0, 0, 0, .9);
   border-radius:50%;
   content:"";
   height:100%;
   left:1px;
   position:absolute;
   top:-1px;
   width:100%;
}

svg {
   height:100%;
   left:0;
   position:absolute;
   top:0;
   transform:rotate(90deg);
   width:100%;
}

circle {
   transition:all .2s linear;
   /* la taille du stroke est trop petite... */
   /* on passe en pourcentage pour que la taille devienne "responsive" */
   stroke:#67a505;
   stroke-width:39.7%;
   stroke-dasharray:var(--dasharray-size), var(--dasharray-max);
}

.nb {
   /* on va rendre les dimensions automatiques */
   background:linear-gradient(180deg, #fff 0%, rgb(48, 4, 150) 100%);
   /* pour l'alignement horiz et vertic */
   border-radius:50%;
   box-shadow:0 0 19px rgba(0, 0, 0, .9),
   0 0 50px rgba(128, 0, 0, 0.8) inset;
   color:rgb(0, 0, 0);
   font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
   font-size:calc(var(--size) * .2);
   font-weight:bold;
   height:var(--nb-size);
   left:var(--alignment);
   line-height:calc(var(--size) / 1.5);
   position:absolute;
   text-shadow:0 10px 0 rgba(255, 255, 255, .8);
   top:var(--alignment);
   width:var(--nb-size);
   --nb-size:calc(var(--circle-r) * 2.3);
   --alignment:calc(50% - var(--nb-size) / 2);
}

.nb:after {
   content:var(--nb-percent-str);
}